a.back-to-top {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  outline: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  height: 40px;
  width: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: #3273dc;
}
